<h3>Add New Doctor</h3>

<a href="/">Home</a><br>
<a href="/doctors">View All Doctors</a><br>
<a href="/doctors/new">Add New Doctor</a>

<form action="/doctors" method="post">
  <label class="form-label" for='name'> Name to your Doctor:</label>
  <input id = 'name' name="name" type="text" placeholder="Doctor Name" autofocus>
  <button type="submit" class="button btn">Save</button>
</form>
