<h1>Success</h1>
<h3>Your doctor has been saved.</h3>

<div class="container">
  <a href="/">Home</a><br>
  <a href="/doctors">View All Doctors</a><br>
  <a href="/doctors/new">Add New Doctors</a>
</div>
